{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ cms.homepage.name }}{% endblock %}
{% block content %}
  <div class="intro-wrapper">
      {% include "templates/partials/intro.html" %}
  </div>
  <div class="whatis-wrapper">
      {% include "templates/partials/whatis.html" %}
  </div>
  {% set item = cms.testimonials|where('_key', 'daan')|first %}
  {% include "templates/partials/testimonial.html" %}
  <div class="dottedline-wrapper first">
    {% include "templates/partials/timeline.html" %}
    {% include "templates/partials/whypay.html" %}
    {% set item = cms.testimonials|where('_key', 'jimmy')|first %}
    {% include "templates/partials/testimonial.html" %}
  </div>
  {% include "templates/partials/tinydetails.html" %}
  <div class="dottedline-wrapper">
    {% set item = cms.testimonials|where('_key', 'ivo')|first %}
    {% include "templates/partials/testimonial.html" %}
    {% include "templates/partials/form-beta-tester.html" %}
  </div>
  <div class="member-head">
    <img src="/static/images/C008_landscape.svg"
        onerror="this.src='/static/images/C008_landscape@2x.png'">
  </div>
  <div class="member-wrapper">
      {% include "templates/partials/member-section.html" %}
  </div>
{% endblock %}
