@import (reference) "../app-core-styles/styles/variables";
@import (once) "../app-core-styles/app-core-styles";

@keyframes hover {
	0% {transform: translateY(0);}
	50% {transform: translateY(5%);}
	100% {transform: translateY(0);}
}

@-webkit-keyframes hover {
	0% {transform: translateY(0);}
	50% {transform: translateY(5%);}
	100% {transform: translateY(0);}
}
@-moz-keyframes hover {
	0% {transform: translateY(0);}
	50% {transform: translateY(5%);}
	100% {transform: translateY(0);}
}

@keyframes scale-shadow {
	0% {transform: scaleX(1) translateY(0%);}
	50% {transform: scaleX(1.1) translateY(-12%);}
	100% {transform: scaleX(1) translateY(0%);}
}

@-webkit-keyframes scale-shadow {
	0% {transform: scaleX(1) translateY(0%);}
	50% {transform: scaleX(1.1) translateY(-12%);}
	100% {transform: scaleX(1) translateY(0%);}
}
@-moz-keyframes scale-shadow {
	0% {transform: scaleX(1) translateY(0%);}
	50% {transform: scaleX(1.1) translateY(-12%);}
	100% {transform: scaleX(1) translateY(0%);}
}


/* whatis component */
.whatis {
	font-family: @light-font;
	margin-top: 150px;

	.moon-part {
		max-width: 900px;
		padding: 100px 0;

		&:before {
			max-width: 900px;
		}
	}

	.moon-content {
		margin: 0 auto;
		max-width: 600px;
	}

	.whatis-ufo img {
		width: 100%;
		height: auto;
	}

	.whatis-ufo-container {
		left: 20%;
		top: -60px;
		width: 60%;
		position: absolute;

		@media (@xs){
			left: 30%;
			top: -120px;
			width: 40%;
		}
	}

	.whatis-ufo {
		-moz-animation:hover 5s linear infinite;
		-webkit-animation:hover 5s linear infinite;
		animation:hover 5s linear infinite;
		margin:0 auto;
		width: 100%;
	}

	.whatis-ufo-shadow {
		-moz-animation:scale-shadow 5s linear infinite;
		-webkit-animation:scale-shadow 5s linear infinite;
		animation:scale-shadow 5s linear infinite;
		left:50%;
		margin-left: -17%;
		position: absolute;
		width: 33%;
	}

	h2 {
		text-align: center;
	}

	.whatis-list {
		counter-reset: section;

		li {
			padding-top: 138px;
			position: relative;

			@media (@sm) {
				padding-left: 220px;
				padding-top: 0;
				margin-bottom: 3em;
				min-height: 128px;
			}
		}
	}

	.list-subtitle {
		color: @primary-font-color;
		font-family: @light-font;
		margin: 0;
	}

	.list-image {
		display: inline-block;
		left: 0;
		max-width: 220px;
		position: absolute;
		top: 0;

	}

	.list-content {
		display: block;
		max-width: 100%;
		padding-left: 20px;
		position: relative;
		text-align: left;

		@media (@sm) {
			max-width: 320px;
		}

		&:before {
			color: @primary-font-color;
			content: counter(section);
			counter-increment: section;
			font-family: @semibold-font;
			font-size: 18px;
			left: 0;
			position: absolute;
			top: 0;
		}
	}
}
/* /whatis component */