<!-- whatis component -->
<div class="whatis" data-component="whatis">

    <div class="moon-part">
        <div class="whatis-ufo-container">
            <div class="whatis-ufo">
                <img src="{{ paths.assets }}images/A001_dhuttle_xs.svg"
                     class="ufo"
                     onerror="this.onerror=''; this.src='{{ paths.assets }}images/A004_ufo_L@2x.png'">
                <div class="whatis-ufo-shadow">
                    <img src="{{ paths.assets }}images/A005_ufo_shade.svg"
                         onerror="this.onerror=''; this.src='{{ paths.assets }}images/A005_ufo_shade@2x.png'">
                </div>
            </div>
        </div>
        <section class="moon-content">
        <h2>{% cms "whatis.name" %}What is Mindspace?{% endcms %}</h2>
        <ul class="flat-list whatis-list">
            <li>
                <img src="{{ paths.assets }}images/A006_macbook-screen@2x.png"
                     class="list-image"
                    alt="{% cms "whatis.subtitle_1" %}Capture thoughts with a shortcut{% endcms %}"
                    title="{% cms "whatis.subtitle_1" %}Capture thoughts with a shortcut{% endcms %}"/>
                <div class="list-content">
                    <h3 class="list-subtitle">{% cms "whatis.subtitle_1" %}Capture thoughts with a shortcut{% endcms %}</h3>
                    <p class="list-paragraph">{% cms "whatis.paragraph_1" %}Random brain flashes and great ideas are captured quickly with an easy keyboard
                        shortcut. Just hit ⌃⌥Space.{% endcms %}</p>
                </div>
            </li>
            <li>
                <img src="{{ paths.assets }}images/A007_macbook-screen@2x.png"
                     class="list-image"
                    alt="{% cms "whatis.subtitle_2" %}Access all your scribbles at any time{% endcms %}"
                    title="{% cms "whatis.subtitle_2" %}Access all your scribbles at any time{% endcms %}"/>
                <div class="list-content">
                    <h3 class="list-subtitle">{% cms "whatis.subtitle_2" %}Access all your scribbles at any time{% endcms %}</h3>
                    <p class="list-paragraph">{% cms "whatis.paragraph_2" %}Pop up the input bar to add, edit or search notes. Start typing and Mindspace
                        instantly shows your existing notes.{% endcms %}
                    </p>
                </div>
            </li>
            <li>
                <img src="{{ paths.assets }}images/A008_macbook-screen@2x.png"
                     class="list-image"
                    alt="{% cms "whatis.subtitle_3" %}Customize your experience{% endcms %}"
                    title="{% cms "whatis.subtitle_3" %}Customize your experience{% endcms %}" />
                <div class="list-content">
                    <h3 class="list-subtitle">{% cms "whatis.subtitle_3" %}Customize your experience{% endcms %}</h3>
                    <p class="list-paragraph">{% cms "whatis.paragraph_3" %}Customize the look and feel, just by manipulating lines of text in the preference
                        note. It’s that easy.{% endcms %}
                    </p>
                </div>
            </li>
        </ul>
    </section>
    </div>
</div>
<!-- /whatis component -->
