<!-- whatis component -->
<div class="whatis" data-component="whatis">
    <h2>What is Mindspace?</h2>
    <ul>
        <li>
            <img src="" alt="" title=""/>
            <h3>Capture thoughts with a shortcut</h3>
            <p>Random brain flashes and great ideas are captured quickly with an easy keyboard
                shortcut. Just hit ⌃⌥Space.</p>
        </li>
        <li>
            <img src="" alt="" title=""/>
            <h3>Access all your scribbles at any time</h3>
            <p>Pop up the input bar to add, edit or search notes. Start typing and Mindspace
                instantly shows your existing notes.
            </p>
        </li>
        <li>
            <img src="" alt="" title=""/>
            <h3>Customize your experience</h3>
            <p>Customize the look and feel, just by manipulating lines of text in the preference
                note. It’s that easy.
            </p>
        </li>
    </ul>
</div>
<!-- /whatis component -->