<!-- whatis component -->
<div class="whatis" data-component="whatis">
    <section>
        <div class="whatis-ufo-container">
            <div class="whatis-ufo">
                <img src="{{ paths.assets }}images/A004_ufo_L@.svg"
                    onerror="this.src='{{ paths.assets }}images/A004_ufo_L@2x.png'">
                <div class="whatis-ufo-shadow">
                    <img src="{{ paths.assets }}images/A005_ufo_shade.svg"
                        onerror="this.src='{{ paths.assets }}images/A005_ufo_shade@2x.png'">
                </div>
            </div>
        </div>
        <h2>What is Mindspace?</h2>
        <ul>
            <li>
                <img src="{{ paths.assets }}images/A006_macbook-screen@2x.png" 
                    alt="Capture thoughts with a shortcut"
                    title="Capture thoughts with a shortcut"/>
                <h3>Capture thoughts with a shortcut</h3>
                <p>Random brain flashes and great ideas are captured quickly with an easy keyboard
                    shortcut. Just hit ⌃⌥Space.</p>
            </li>
            <li>
                <img src="{{ paths.assets }}images/A007_macbook-screen@2x.png" 
                    alt="Access all your scribbles at any time"
                    title="Access all your scribbles at any time"/>
                <h3>Access all your scribbles at any time</h3>
                <p>Pop up the input bar to add, edit or search notes. Start typing and Mindspace
                    instantly shows your existing notes.
                </p>
            </li>
            <li>
                <img src="{{ paths.assets }}images/A008_macbook-screen@2x.png" 
                    alt="Customize your experience"
                    title="Customize your experience" />
                <h3>Customize your experience</h3>
                <p>Customize the look and feel, just by manipulating lines of text in the preference
                    note. It’s that easy.
                </p>
            </li>
        </ul>
    </section>
</div>
<!-- /whatis component -->