<!-- form-beta-tester component -->
{% macro countrySelect(countryName, countryId) %}
<li class="fake-select-option">
    <input class="fake-select-radio" type="radio" id="{{ countryId }}" name="country" value="{{ countryId }}"/>
    <label class="fake-select-label" for="{{ countryId }}">{{ countryName }}</label>
</li>
{% endmacro %}

{% macro avatar(avatarId, avatarImage, avatarAlt) %}
<li>
    <label for="{{ avatarId }}"><img src="{{ avatarImage }}" alt="{{ avatarAlt }}"/></label>
    <input id="{{ avatarId }}" type="radio" value="{{ avatarId }}" name="avatar"/>
</li>
{% endmacro %}

<section class="form-beta-tester" id="supportUs" data-component="form-beta-tester">
    <img src="{{ paths.assets }}images/C001_ufo.svg"
         onerror="this.onerror=''; this.src='{{ paths.assets }}images/C001_ufo.png'"
         class="ufo-image" alt="Big ufo">
    <form class="moon-part" accept-charset="UTF-8" action="https://formkeep.com/f/dc92a5534b3e" method="POST">
        <input type="hidden" name="utf8" value="✓">

        <div class="form-part form-step-avatar visible" data-form-part="2">
            <h2 class="section-title">Awesome, thanks for your support!</h2>
            <span class="section-subtitle"><strong>Ready for the spotlight? </strong></span>
            <p> Complete your registration by selecting your funky suit.</p>

            <input type="text" placeholder="Name" name="name">
            <input type="text" placeholder="Email" name="email">
            <select>
                <option value="">Country</option>
                <option value="a">A country</option>
                <option value="a">A country</option>
                <option value="a">A country</option>
            </select>

            <ul class="avatar-select flat-list">
                {{ avatar('1', 'http://lorempixel.com/100/100/people', 'A funky name') }}
                {{ avatar('2', 'http://lorempixel.com/100/100/people', 'A funky name') }}
                {{ avatar('3', 'http://lorempixel.com/100/100/people', 'A funky name') }}
                {{ avatar('4', 'http://lorempixel.com/100/100/people', 'A funky name') }}
                {{ avatar('5', 'http://lorempixel.com/100/100/people', 'A funky name') }}
                {{ avatar('6', 'http://lorempixel.com/100/100/people', 'A funky name') }}
            </ul>
            <button data-form-handle="next"> Next </button>
        </div>
    </form>
</section>
<!-- /form-beta-tester component -->