{% extends "views/_base-view/base-view.html" %}

{% block title %}mindspace | {{ super() }}{% endblock %}


{% block content %}
<!-- mindspace view -->
<div class="intro-wrapper">
    {% include "components/intro/intro.html" %}
</div>
<div class="whatis-wrapper">
    {% include "components/whatis/whatis.html" %}
</div>

    {% include "components/testimonial/testimonial.html" %}


<div class="dottedline-wrapper first">
    {% include "components/timeline/timeline.html" %}

    {% include "components/whypay/whypay.html" %}

    {% include "components/testimonial/testimonial.html" %}

</div>

{% include "components/tinydetails/tinydetails.html" %}

<div class="dottedline-wrapper">
    {% include "components/testimonial/testimonial.html" %}


    {% include "components/form-thankyou/form-thankyou.html" %}
</div>
<div class="member-head">
    <img src="{{paths.assets}}images/C008_landscape.svg"
         onerror="this.onerror=''; this.src='{{ paths.assets }}images/C008_landscape.png'">
</div>

<div class="member-wrapper">
    {% include "components/member-section/member-section.html" %}
</div>
<!-- /mindspace view -->
{% endblock %}
