@import (reference) "../../components/app-core-styles/styles/variables";
@import (once) "../_base-view/base-view";

/* mindspace view */

.intro-wrapper{
	@media(@xs){
		background: url('images/A002_melkweg@2x.png') no-repeat center center;
		background-size: 120% auto;
	}

	@media(@md){
		background-size: 130% auto;
	}

	@media(@xl){
		background-size: 85% auto;
	}

}
.member-wrapper{
	background-color: #C3A17F;
}

.footer-wrapper{
	background-color: #000;
}

.header-wrapper{
	background-color: #001324;
	border-bottom:2px solid #0F253B;
}

.whatis-wrapper{

}


/* /mindspace view */