{% extends "views/_base-view/base-view.html" %}

{% block title %}mindspace | {{ super() }}{% endblock %}

<!--include testimonial macro-->
{% include "components/testimonial/testimonial.html" %}

{% block content %}
    <!-- mindspace view -->
    <div class="intro-wrapper">
        {% include "components/intro/intro.html" %}
    </div>
    <div class="whatis-wrapper">
        {% include "components/whatis/whatis.html" %}
    </div>

    {{testimonial('Daan van Klinken',
                'interaction designer at UNITiD',
                'Keeping notes during a design discussion is now just one shortcut away')}}

    {% include "components/tinydetails/tinydetails.html" %}

    {{testimonial('Ivo Jansch',
        'developer at Egeniq',
        'I’ve tried a bunch of apps over the years, but never found one simple enough for my needs.
        Now we finally ha ve the opportunity to build it ourselves!')}}

    {% include "components/form-beta-tester/form-beta-tester.html" %}

    <div class="member-wrapper">
        {% include "components/member-section/member-section.html" %}
    </div>
    <!-- /mindspace view -->
{% endblock %}