.flat-list {
	list-style: none;
	padding-left: 0;
	margin: 0;

	li {
		padding-left: 0;
	}

	li:before {
		content: '';
	}
}

.list-inline {
	.flat-list();
	> li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.member-list {
	list-style: none;
	font-size: 14px;
	line-height: 21px;
	padding: 0;
	margin: 0;
	text-align: center;

	.member-item {
		display: inline-block;
		vertical-align: top;
		width: 80px;
		min-height: 90px;
		padding: 0 5px 20px;

		@media (@xxs){
			width: 120px;
			min-height: 130px;
		}
	}

	&:not(.no-description){
		.member-item {
			min-height: 200px;
		}
	}
	.member-image {
		border-radius: 100%;
		max-width: 100%;
		margin-bottom: 1em;
	}
	.member-name {
		font-family: @semibold-font;
		display: block;
	}
	.member-residence {
		font-family: @light-font;
	}
}

.icon-list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		position: relative;
		padding-left: 20px;
		line-height: 1.8em;

		&:last-child{
			margin-bottom: 0;
		}

		&:before {
			position: absolute;
			content: '';
			display: block;
			width: 12px;
			height: 12px;
			left: 0;
			top: 0;
		}
	}
}

.checked li:before {
	content: '';
	background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxMyAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+QzAwM1/inJM8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PGcgZm9udC13ZWlnaHQ9IjY4NiIgZm9udC1mYW1pbHk9IlByb3hpbWEgTm92YSIgZmlsbD0iIzI1NkZCOCIgZm9udC1zaXplPSIyNCI+PGc+PGc+PHRleHQgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTY5IC0yMjYpIj48dHNwYW4geD0iNjkuMDg4IiB5PSIyMzciPuKckzwvdHNwYW4+PC90ZXh0PjwvZz48L2c+PC9nPjwvZz48L3N2Zz4=') no-repeat top left;
	top: 7px;
	background-size: 100%;
}