@import "variables";

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #fff;
	width: 100%;
	padding: 0;
	margin:0;
	background-color: @background;
}

a:link {
	color: @brand-default;
	-webkit-transition: color 200ms ease-out;
	-moz-transition: color 200ms ease-out;
	transition: color 200ms ease-out;
	text-decoration: none;
}
a:visited {
	color: darken(@brand-default, 20%);
}
a:hover,
a:focus {
	color: lighten(@brand-default, 20%);
}
a:active {

}

main section,
.header-wrapper nav{
	margin: 0 auto;
	padding:0 1.5em;
	@media(@sm){
		max-width: 850px;
	}
}