@import "variables";

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}


// Body reset

html {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	line-height: 1.2em;
	color: #fff;
	width: 100%;
	padding: 0;
	margin:0;
	background-color: @background;
}

a:link {
	color: @brand-default;
	-webkit-transition: color 200ms ease-out;
	-moz-transition: color 200ms ease-out;
	transition: color 200ms ease-out;
	text-decoration: none;
}
a:visited {
	color: darken(@brand-default, 20%);
}
a:hover,
a:focus {
	color: lighten(@brand-default, 20%);
}
a:active {

}
main section,
.header-wrapper nav{
	margin: 0 auto;
	padding:0 1.5em;
	@media(@sm){
		max-width: 800px;
	}
	@media(@md){
		max-width: 800px;
	}
}
@media(@sm) {
	.dottedline-wrapper {
		position: relative;
		max-width: 800px;
		margin: 0 auto;
	}

	.dottedline-wrapper:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: url('/assets/images/B010_b.png') no-repeat 80% 2%;
		background-size: 40%;
		opacity: 0.3;
		z-index: -1;


	}

	.dottedline-wrapper.first:before {
		background: url('/assets/images/B010_a.png') no-repeat center 77%;
		background-size: 66%;
	}
}

