// Typography
@import "variables";

@font-face {
	font-family: 'proxima nova light';
	src:
		local('proxima nova light'),
		url('fonts/proximanova-light.woff') format('woff2'), /* Chrome 26+, Opera 23+ */
		url('fonts/proximanova-light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'proxima nova semi-bold';
	src:
		local('proxima nova semi bold'),
		url('fonts/proximanova-semibold.woff') format('woff2'), /* Chrome 26+, Opera 23+ */
		url('fonts/proximanova-semibold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'the great escape';
	src:
		local('the great escape'),
		url('fonts/thegreatescape.woff') format('woff2'), /* Chrome 26+, Opera 23+ */
		url('fonts/thegreatescape.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
	color: #fff;
	font-family: @light-font;
	font-size: 16px; //24
	line-height: 26px; //39

	@media(@md) {
		font-size: 24px;
		line-height: 39px;
	}
}

h1 {
	color: @primary-font-color;
	font-family: @semibold-font; //should be semibold
	font-size:  21px; //42
	font-weight: normal;
	line-height: 29px; //58

	@media(@md) {
		font-size: 42px;
		line-height: 58px;
	}
}

h2 {
	color: @primary-font-color;
	font-family: @semibold-font;
	font-size: 16px; //32
	font-weight: normal;
	line-height: 22px; //44

	@media(@md) {
		font-size: 32px;
		line-height: 44px;
	}
}

h3 {
	color: #4A4A4A;
	font-family: @semibold-font;
	font-size: 18px; //24
	font-weight: normal;
	line-height: 39px; //39

	@media(@md) {
		font-size: 24px;
		line-height: 39px;
	}
}

.written {
	color: #4A4A4A;
	font-family: @written-font;
	font-size: 32px; //32
	line-height: 54px; //54
}

.section-title {}
.section-subtitle {}

.footer-section .section-title {
	color: #fff;
}

.footer-section .section-subtitle {

}