<!-- team-member component -->

<!-- /team-member component -->
<!-- footer component -->
<div class="footer" data-component="footer">
    <section class="footer-section">
        <h2 class="section-title">Meet the makers!</h2>
        <p class="section-subtitle">Mindspace is a collaboration between Egeniq and UNITiD</p>

        <ul class="member-list no-description">
            
<li class="member-item">
    <img class="member-image" src="http://lorempixel.com/100/100/people" alt="Team Member Egeniq">
    

    
</li>

            
<li class="member-item">
    <img class="member-image" src="http://lorempixel.com/100/100/people" alt="Team Member UNITiD">
    

    
</li>

        </ul>

        <ul class="member-list">
            
<li class="member-item">
    <img class="member-image" src="http://lorempixel.com/100/100/people" alt="Team Member ">
    
    <span class="member-name">Han Solo</span>
    

    
    <span class="member-residence">San Fransisco</span>
    
</li>

            
<li class="member-item">
    <img class="member-image" src="http://lorempixel.com/100/100/people" alt="Team Member ">
    
    <span class="member-name">Han Solo</span>
    

    
    <span class="member-residence">San Fransisco</span>
    
</li>

            
<li class="member-item">
    <img class="member-image" src="http://lorempixel.com/100/100/people" alt="Team Member ">
    
    <span class="member-name">Han Solo</span>
    

    
    <span class="member-residence">San Fransisco</span>
    
</li>

            
<li class="member-item">
    <img class="member-image" src="http://lorempixel.com/100/100/people" alt="Team Member ">
    
    <span class="member-name">Han Solo</span>
    

    
    <span class="member-residence">San Fransisco</span>
    
</li>

        </ul>

        <footer class="end-note">
            <ul>
                <li><a href="">disclaimer</a></li>
                <li><a href="">copyright</a></li>
                <li><a href="">contact</a></li>
                <li><a href="">privacy</a></li>
            </ul>
        </footer>
    </section>
</div>

<!-- /footer component -->
