<!-- form-beta-tester component -->










<section class="form-beta-tester" id="supportUs" data-component="form-beta-tester">
    <img src="static/images/C001_ufo.svg"
         onerror="this.onerror=''; this.src='static/images/C001_ufo.png'"
         class="ufo-image" alt="Big ufo">
    <div class="moon-part">
    <div class="form-part form-step-thankyou visible" data-form-part="3">
        <h2 class="section-title">Ready for take-off!</h2>
        <span class="section-subtitle"><strong>What’s next?</strong></span>

        <ul class="flat-list">
            <li>We will keep you up to date about the process</li>
            <li>You will recieve an email confirmation with your receipt</li>
        </ul>

        <p><strong>Tell others about Mindspace and help us <br> find the remaining [78] co-pilots!</strong></p>

        <ul class="social-share flat-list" data-component="social-share">
            <li>
<a class="social-icon facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgithub.com%2Fvoorhoede%2Ffront-end-guide">
    Facebook
</a>
</li>
            <li>
<a class="social-icon linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fgithub.com%2Fvoorhoede%2Ffront-end-guide&title=mindspace&summary=&source=De%20Voorhoede">
    LinkedIn
</a>
</li>
            <li>
<a class="social-icon twitter" href="http://twitter.com/intent/tweet?url=https%3A%2F%2Fgithub.com%2Fvoorhoede%2Ffront-end-guide&text=">
    Twitter
</a>
</li>
        </ul>
    </div>
    </div>
</section>
<!-- /form-beta-tester component -->