<!-- form-beta-tester component -->




<section class="form-beta-tester" id="supportUs" data-component="form-beta-tester">
    <img src="static/images/C001_ufo.svg"
         onerror="this.onerror=''; this.src='static/images/C001_ufo.png'"
         class="ufo-image" alt="Big ufo">
    <form class="moon-part" accept-charset="UTF-8" action="https://formkeep.com/f/dc92a5534b3e" method="POST">
        <input type="hidden" name="utf8" value="✓">

        <div class="form-part form-step-avatar visible" data-form-part="2">
            <h2 class="section-title">Awesome, thanks for your support!</h2>
            <span class="section-subtitle"><strong>Ready for the spotlight? </strong></span>
            <p> Complete your registration by selecting your funky suit.</p>

            <input type="text" placeholder="Name" name="name">
            <input type="text" placeholder="Email" name="email">
            <select>
                <option value="">Country</option>
                <option value="a">A country</option>
                <option value="a">A country</option>
                <option value="a">A country</option>
            </select>

            <ul class="avatar-select flat-list">
                
<li>
    <label for="1"><img src="http://lorempixel.com/100/100/people" alt="A funky name"/></label>
    <input id="1" type="radio" value="1" name="avatar"/>
</li>

                
<li>
    <label for="2"><img src="http://lorempixel.com/100/100/people" alt="A funky name"/></label>
    <input id="2" type="radio" value="2" name="avatar"/>
</li>

                
<li>
    <label for="3"><img src="http://lorempixel.com/100/100/people" alt="A funky name"/></label>
    <input id="3" type="radio" value="3" name="avatar"/>
</li>

                
<li>
    <label for="4"><img src="http://lorempixel.com/100/100/people" alt="A funky name"/></label>
    <input id="4" type="radio" value="4" name="avatar"/>
</li>

                
<li>
    <label for="5"><img src="http://lorempixel.com/100/100/people" alt="A funky name"/></label>
    <input id="5" type="radio" value="5" name="avatar"/>
</li>

                
<li>
    <label for="6"><img src="http://lorempixel.com/100/100/people" alt="A funky name"/></label>
    <input id="6" type="radio" value="6" name="avatar"/>
</li>

            </ul>
            <button data-form-handle="next"> Next </button>
        </div>
    </form>
</section>
<!-- /form-beta-tester component -->