<div class="intro" data-component="intro">
    <section>
        <h1 class="contained">{{ cms.homepage.tagline }}</h1>
        <div class="video-container">
            <img src="static/images/A003_videostill@2x.jpg"
            data-video-trigger
            data-video-url="static/videos/intro"/>
        </div>

        <p class="claim">We’re building the best distraction-free note keeping app in the universe. Become a beta tester by pledging $ 4.50.</p>
        <a href="#supportUs" class="button">Support this project</a>
    </section>
</div>
