

<!-- tinydetails component -->
<div class="tinydetails" data-component="tinydetails">
    <section>
        <h2>The tiny details</h2>

        <div class="expandible-container">
            {% for item in cms.questions %}

            
    <div class="expandible-handle panel panel-default is-expanded" data-expandible>
        <div class="panel-heading"
             data-expandible-handle="toggle">
            <h3 class="panel-title">{{ item.name }}</h3>
        </div>
        <div class="expandible-content"
             data-expandible-content>
            <p>{{ item.answer }}</p>
        </div>
    </div>

            
{% endfor %}

        </div>
    </section>
</div>

<!-- /tinydetails component -->
