

<!-- tinydetails component -->
<div class="tinydetails" data-component="tinydetails">
    <section>
        <h2>The tiny details</h2>

        <div class="expandible-container">
            
    <div class="expandible-handle panel panel-default is-expanded" data-expandible>
        <div class="panel-heading"
             data-expandible-handle="toggle">
            <h3 class="panel-title">When will I be able to use the first beta version?</h3>
        </div>
        <div class="expandible-content"
             data-expandible-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

            
    <div class="expandible-handle panel panel-default is-expandable" data-expandible>
        <div class="panel-heading"
             data-expandible-handle="toggle">
            <h3 class="panel-title">Where can I see the progress?</h3>
        </div>
        <div class="expandible-content"
             data-expandible-content>
            <p>Lorem ipsum </p>
        </div>
    </div>

            
    <div class="expandible-handle panel panel-default is-expandable" data-expandible>
        <div class="panel-heading"
             data-expandible-handle="toggle">
            <h3 class="panel-title">What are the system requirements? </h3>
        </div>
        <div class="expandible-content"
             data-expandible-content>
            <p>Lorem ipsum </p>
        </div>
    </div>

            
    <div class="expandible-handle panel panel-default is-expandable" data-expandible>
        <div class="panel-heading"
             data-expandible-handle="toggle">
            <h3 class="panel-title">I have questions, how can I reach the Mindspace team?</h3>
        </div>
        <div class="expandible-content"
             data-expandible-content>
            <p>Lorem ipsum</p>
        </div>
    </div>

            
    <div class="expandible-handle panel panel-default is-expandable" data-expandible>
        <div class="panel-heading"
             data-expandible-handle="toggle">
            <h3 class="panel-title">What’s coming next? Are there any new, exciting ideas for the future?</h3>
        </div>
        <div class="expandible-content"
             data-expandible-content>
            <p>s</p>
        </div>
    </div>

        </div>
    </section>
</div>

<!-- /tinydetails component -->