<!-- whatis component -->
<div class="whatis" data-component="whatis">

    <div class="moon-part">
        <div class="whatis-ufo-container">
            <div class="whatis-ufo">
                <img src="static/images/A001_dhuttle_xs.svg"
                     class="ufo"
                     onerror="this.onerror=''; this.src='static/images/A004_ufo_L@2x.png'">
                <div class="whatis-ufo-shadow">
                    <img src="static/images/A005_ufo_shade.svg"
                         onerror="this.onerror=''; this.src='static/images/A005_ufo_shade@2x.png'">
                </div>
            </div>
        </div>
        <section class="moon-content">
        <h2>{{ cms.whatis.name }}</h2>
        <ul class="flat-list whatis-list">
            <li>
                <img src="static/images/A006_macbook-screen@2x.png"
                     class="list-image"
                    alt="{{ cms.whatis.subtitle_1 }}"
                    title="{{ cms.whatis.subtitle_1 }}"/>
                <div class="list-content">
                    <h3 class="list-subtitle">{{ cms.whatis.subtitle_1 }}</h3>
                    <p class="list-paragraph">{{ cms.whatis.paragraph_1 }}</p>
                </div>
            </li>
            <li>
                <img src="static/images/A007_macbook-screen@2x.png"
                     class="list-image"
                    alt="{{ cms.whatis.subtitle_2 }}"
                    title="{{ cms.whatis.subtitle_2 }}"/>
                <div class="list-content">
                    <h3 class="list-subtitle">{{ cms.whatis.subtitle_2 }}</h3>
                    <p class="list-paragraph">{{ cms.whatis.paragraph_2 }}
                    </p>
                </div>
            </li>
            <li>
                <img src="static/images/A008_macbook-screen@2x.png"
                     class="list-image"
                    alt="{{ cms.whatis.subtitle_3 }}"
                    title="{{ cms.whatis.subtitle_3 }}" />
                <div class="list-content">
                    <h3 class="list-subtitle">{{ cms.whatis.subtitle_3 }}</h3>
                    <p class="list-paragraph">{{ cms.whatis.paragraph_3 }}
                    </p>
                </div>
            </li>
        </ul>
    </section>
    </div>
</div>
<!-- /whatis component -->
