@import (reference) "../app-core-styles/styles/mixins/clearfix";
@import (reference) "../app-core-styles/styles/variables";
@import (once) "../app-core-styles/app-core-styles";

@keyframes moveAstronaut {
	0% {transform: translateX(5px) rotate(0);}
	10% {transform: translateX(-5px) rotate(-30deg);}
	30% {transform: translateX(-5px) rotate(-30deg);}
	40% {transform: translateX(5px) rotate(0);}
	100% {transform: translateX(5px) rotate(0);}
}

@-webkit-keyframes moveAstronaut {
	0% {transform: translateX(5px) rotate(0);}
	10% {transform: translateX(-5px) rotate(-30deg);}
	30% {transform: translateX(-5px) rotate(-30deg);}
	40% {transform: translateX(5px) rotate(0);}
	100% {transform: translateX(5px) rotate(0);}
}
@-moz-keyframes moveAstronaut {
	0% {transform: translateX(5px) rotate(90deg);}
	10% {transform: translateX(-5px) rotate(-30deg);}
	30% {transform: translateX(-5px) rotate(-30deg);}
	40% {transform: translateX(5px) rotate(0);}
	100% {transform: translateX(5px) rotate(0);}
}


/* member-section component */
.member-section {
	text-align: center;
	padding: 0 10px;

	.section-title {
		color: #fff;
		padding: 2em 0 1em;
	}


}
.member-content {
	max-width: 600px;
	margin: 0 auto;
	&.is-sectionable {
		.member-item {
			display: none;

			&.is-visible {
				display: inline-block;
			}
		}

	}

	.hidden {
		display: none;
	}
}

.gate-keeper{
	.clearfix;
	position: relative;
	img{
		width: 100%;
		height: auto;
	}
	.sign{
		width: 30%;
		position:absolute;
		left:10%;
		top:3em;
		@media(@xs){
			top: 1em;
			width: 20%;
		}
		.member-count{
			font-family: @semibold-font;
			color:#000;
			font-size: 2.5em;
			position: absolute;
			top:30%;
			left:40%;
			@media(@none){
				font-size: 1em;
			}
			@media(@xs){
				font-size: 1.2em;
			}
			@media(@sm){
				font-size: 2.3em;
			}
			@media(@md){
				font-size: 2.4em;
			}
		}
	}
	.launchbase{
		float: right;
		width: 70%;
		position: relative;
		@media(@none){
			margin-top:-3em;
		}
		@media(@xs){
			margin-top:-4em;
		}
		@media(@sm){
			margin-top:-10em;
		}
		@media(@md){
			margin-top:-15em;
		}

		&:before {
			content: '';
			position: absolute;
			width: 20px;
			height: 30px;
			background: url('/assets/images/C007_astronaut.png') no-repeat;
			background-size: 100%;
			z-index: 0;
			top: 58%;
			left: 10%;
			-moz-animation: moveAstronaut 6s linear infinite;
			-webkit-animation: moveAstronaut 6s linear infinite;
			animation: moveAstronaut 6s linear infinite;
		}

		img {
			z-index: 1;
			position: relative;
		}
	}
}
/* /member-section component */