@import (reference) "../app-core-styles/styles/mixins/clearfix";
@import (reference) "../app-core-styles/styles/variables";
@import (once) "../app-core-styles/app-core-styles";

/* member-section component */
.member-section {
	text-align: center;
	padding: 0 10px;

	.section-title {
		color: #fff;
		padding: 2em 0 1em;
	}


}
.member-content {
	max-width: 600px;
	margin: 0 auto;
	&.is-sectionable {
		.member-item {
			display: none;

			&.is-visible {
				display: inline-block;
			}
		}

	}

	.hidden {
		display: none;
	}
}

.gate-keeper{
	.clearfix;
	position: relative;
	img{
		width: 100%;
		height: auto;
	}
	.sign{
		width: 20%;
		position:absolute;
		left:10%;
		.member-count{
			font-family: @semibold-font;
			color:#000;
			font-size: 2.5em;
			position: absolute;
			top:30%;
			left:40%;
			@media(@none){
				font-size: 1em;
			}
			@media(@xs){
				font-size: 1.2em;
			}
			@media(@sm){
				font-size: 2.3em;
			}
			@media(@md){
				font-size: 2.4em;
			}
		}
	}
	.launchbase{
		float: right;
		width: 70%;
		@media(@none){
			margin-top:-3em;
		}
		@media(@xs){
			margin-top:-4em;
		}
		@media(@sm){
			margin-top:-10em;
		}
		@media(@md){
			margin-top:-15em;
		}
	}
}
/* /member-section component */