{% include "components/team-member/team-member.html" %}

<!-- member-section component -->
<section class="member-section" data-component="member-section">
    <div class="gate-keeper">
        <div class="launchbase">
            <img src="{{ paths.assets }}images/C006_launchbase.svg" alt="Spaceship with path"
            onerror="this.src='{{ paths.assets }}images/C006_launchbase@2x.png'">
        </div>
        <div class="sign">
            <span class="member-count">76</span>
            <img src="{{paths.assets}}images/C007_sign.svg"
            onerror="this.src='{{ paths.assets }}images/C007_sign@2x.png'">
        </div>
    </div>
    <div class="member-content" data-content-loader>
        <h2 class="section-title">Become a co-pilot!</h2>
        <ul class="member-list" data-content-loader-list>
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}

            {{ member( name='Anonymous', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Anonymous', image='http://lorempixel.com/100/100/people') }}

            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}

            {{ member( name='Anonymous', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Anonymous', image='http://lorempixel.com/100/100/people') }}
        </ul>
        <button class="sand" data-content-loader-handle>Load more</button>
    </div>
</section>
<!-- /member-section component -->