{% include "components/team-member/team-member.html" %}

<!-- member-section component -->
<section class="member-section" data-component="member-section">
    <header class="member-header">
        <img src="space-ship.png" alt="Spaceship with path">
        <div class="gate-keeper">
            <span class="member-count">76</span>
            <img src="gate.png" alt="Gate">
        </div>
    </header>

    <div class="member-content" data-content-loader>
        <h2 class="section-title">Become a co-pilot!</h2>
        <ul class="member-list" data-content-loader-list>
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}

            {{ member( name='Anonymous', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Anonymous', image='http://lorempixel.com/100/100/people') }}

            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}

            {{ member( name='Anonymous', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Anonymous', image='http://lorempixel.com/100/100/people') }}
        </ul>

        <button class="sand" data-content-loader-handle>Load more</button>
    </div>
</section>
<!-- /member-section component -->