<!-- timeline component -->
<section class="timeline" data-component="timeline">
	<img src="/assets/images/B002_journey_m.svg"
		alt="The mindspace journey"
		onerror="this.onerror=''; this.src=/assets/images/B002_journey_m.png">

	<nav role="navigation" data-component="step-navigation">
		<ol class="step-navigation" data-step-navigation>
			<li class='step current'>
				<span class='label' data-content='1'></span>
			</li>
			<li class='step'>
				<span class='label' data-content='2'></span>
			</li>
			<li class='step'>
				<span class='label' data-content='3'></span>
			</li>
		</ol>
	</nav>
	<ul class="flat-list time-line-list">
		<li>
			<h3 class="list-title"> Search for 100 co-pilots</h3>
			<p class="list-paragraph">Sign up to become one of the 100 beta testers. To join the beta team, pledge $ 4.50.</p>
		</li>
		<li>
			<h3 class="list-title"> Release of the beta version </h3>
			<p class="list-paragraph">Release of the beta version. We're now open for another 1000 users. Pledge $ 5.50
				to join.</p>
		</li>
		<li>
			<h3 class="list-title"> The public release </h3>
			<p class="list-paragraph">Version 1.0 of Mindspace will be available for $ 6.50.</p>
		</li>
	</ul>

</section>
<!-- /timeline component -->