@import (reference) "../app-core-styles/styles/variables";
@import (once) "../app-core-styles/app-core-styles";

/* tinydetails component */
.tinydetails {
	h2{
		text-align: center;
	}
	.panel{
		border-bottom: 1px solid #fff;
		margin-top: 2em;
		padding-bottom: .5em;
	}
	.panel-heading{
		cursor: pointer;
		h3{
			color:#fff;
		}
	}
	.expandible-handle.is-expandible .expandible-content {
		display: none;
	}
	.expandible-handle.is-expanded .expandible-content {
		display: block;
	}

	.panel-heading, .expandible-content {
		position: relative;
		&:before {
			font-family: @light-font;
			color:@primary-font-color;
			display: block;
			position: absolute;
			left: -1.2em;
			font-size: 2em;
			top:50%;
			margin-top:-.3em;
		}
	}

	.panel-heading:before {
		content: 'Q';
	}

	.expandible-content:before {
		content: 'A';
	}

	.expandible-container{
		margin-left:2.3em;

	font-family: @light-font;
	}
}

/* /tinydetails component */