<!-- whypay component -->
<div class="whypay" data-component="whypay">
    <section>
        <h2>{% cms "timeline.whypay_subtitle" %}Why $4,50?{% endcms %}</h2>
        <p>{% cms "timeline.whypay_paragraph" %}We believe that Mindspace is an amazing product, but are people actually in need for a
            tool like this? Therefore, we ask a fee of $ 4.50. It’s just to measure if enough people
            are enthusiastic. For the sake of clarity: Mindspace is not a crowdfunding project.
            We are not using the money to build the app.{% endcms %}</p>
    </section>
</div>
<!-- /whypay component -->
