<!-- intro component -->
<div class="intro" data-component="intro">
    <section>
        <h1 class="contained">The easiest way to save and retrieve your thoughts</h1>
        <div class="video-container">
            <img src="{{paths.assets}}images/A003_videostill@2x.jpg" 
            data-video-trigger 
            data-video-url="{{ paths.assets }}videos/intro"/>
        </div>

        <p class="claim">We’re building the best distraction-free note keeping app in the universe. Become a beta tester by pledging $ 4.50.</p>
        <button>Support this project</button>
        <div class="learn-more">
            <a href="">Learn more</a>
        </div>
    </section>
</div>
<!-- /intro component -->