<!-- intro component -->
<div class="intro" data-component="intro">
    <section>
        <h1>The easiest way to save and retrieve your thoughts</h1>
        <video src="">
            <!--fallback image-->
            <img src=""/>
        </video>
        <p>We’re building the best distraction-free note keeping app in the universe. Become a beta tester by pledging $ 4.50.</p>
        <button>Support this project</button>
        <a href="">Learn more</a>
    </section>
</div>
<!-- /intro component -->