<div class="intro" data-component="intro">
    <section>
        <h1 class="contained">{% cms "homepage.tagline" %}Tekst{% endcms %}</h1>
        <div class="video-container">
            <img src="{{paths.assets}}images/A003_videostill@2x.jpg"
            data-video-trigger
            data-video-url="{{ paths.assets }}videos/intro"/>
        </div>

        <p class="claim">{% cms "homepage.claim" %}We’re building the best distraction-free note keeping app in the universe. Become a beta tester by pledging $ 4.50.{% endcms %}</p>
        <a href="#supportUs" class="button">{% cms "homepage.button_support" %}Support this project{% endcms %}</a>
    </section>
</div>
