{% include "components/team-member/team-member.html" %}
<!-- footer component -->
<div class="footer" data-component="footer">
    <section class="footer-section">
        <h2 class="section-title">Meet the makers!</h2>
        <p class="section-subtitle">Mindspace is a collaboration between Egeniq and UNITiD</p>

        <ul class="member-list no-description">
            {{ member( image='http://lorempixel.com/100/100/people', alt='Egeniq') }}
            {{ member( image='http://lorempixel.com/100/100/people', alt='UNITiD') }}
        </ul>

        <ul class="member-list">
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
            {{ member( name='Han Solo', residence='San Fransisco', image='http://lorempixel.com/100/100/people') }}
        </ul>

        <footer class="end-note">
            <ul>
                <li><a href="">disclaimer</a></li>
                <li><a href="">copyright</a></li>
                <li><a href="">contact</a></li>
                <li><a href="">privacy</a></li>
            </ul>
        </footer>
    </section>
</div>

<!-- /footer component -->
