<div class="testimonial" data-component="testimonial">
    <section class="{{class}}">
        <h2>Team Mindspace</h2>
        <blockquote>
            &ldquo;{% cms "quote" %}It’s exciting to be part of this project. Especially with the powerful features we have in mind for future releases.{% endcms %}&rdquo;
        </blockquote>
        <figure>
            <img src="{% cms "image.url" %}{{paths.assets}}images/A010_photo@2x.jpg{% endcms %}" alt="picture of quoted author"/>
            <figcaption>
                <em>{% cms "name" %}Jimmy Goedhart{% endcms %}</em>, {% cms "role" %}visual designer at UNITiD{% endcms %}
            </figcaption>
        </figure>
    </section>
</div>
