@import (reference) "../app-core-styles/styles/mixins/clearfix";
@import (reference) "../app-core-styles/styles/variables";
@import (once) "../app-core-styles/app-core-styles";

/* testimonial component */
.testimonial {
	.clearfix;
	margin: 0 auto;
	padding: 3em 0 6em;

	h2{
		text-align: left;
	}
	figure{
		margin:0;
		img{
			float:right;
			margin-left: 1em;
			margin-top:-1em;
			width: 25%;
			height: auto;
			border-radius: 50%;
			@media(@sm){
				margin-top:-7em;
			}
		}
	}
	figcaption{
		margin-top: 1em;
		opacity: 0.45;
	}
	blockquote{
		font-family: @written-font;
		font-size: 1.3em;
		line-height: 1.6em;
		margin:0;
		@media(@sm){
			width: 73%;
		}
	}
}
/* /testimonial component */