<!-- testimonial macro -->
{% macro testimonial(name, position, quote, image, class) %}
<div class="testimonial" data-component="testimonial">
    <section class="{{class}}">
        <h2>Team Mindspace</h2>
        <blockquote>
            &ldquo;{{quote}}&rdquo;
        </blockquote>
        <figure>
            <img src="{{paths.assets}}images/{{image}}" alt="picture of quoted author"/>
            <figcaption>
                <em>{{name}}</em>, {{position}}
            </figcaption>
        </figure>
    </section>
</div>
{% endmacro %}
<!-- /testimonial component -->