<!-- app-header component -->
<header class="app-header" data-component="app-header">

    <nav class="app-header-quick-menu">
        <div class="logo">
            <figure>
                <img alt="logo mindspace" title="Mindspace"
                     src="{{ paths.assets }}images/A001_dhuttle_xs.svg"
                     onerror="this.error=''; this.src='{{ paths.assets }}images/A001_dhuttle_xs@2x.png'">
                <figcaption>
                    Mindspace
                </figcaption>
            </figure>

        </div>
        <ul>
            <li><a href="#project">Project</a></li>
            <li><a href="#timeline">Timeline</a></li>
            <li><a href="#team">Team</a></li>
            <li class="support-area">
                <a class="button" href="#team">Support!</a>
                <span class="button-desc">Soon available for Mac</span>
            </li>
        </ul>
    </nav>
</header>
<!-- /app-header -->